:root {
  --theme-nav-background: #333;
  --theme-nav-text: #ddd;
  --theme-nav-active: #fff;
  --theme-main-background: #F7FFFE;
  --theme-main-background-gradient: #dcf2f0;
  --theme-main-text: #333;
  --theme-link-text: #00B8BC;
  --theme-link-hover: #006769;
  --nav-padding-x: 24px;
  --nav-padding-y: 24px;
  --footer-padding-y: 72px;
  --container-width: 75%;
  --container-margin-x: auto;
  --container-margin-y: 48px;
}

body {
  background: radial-gradient(var(--theme-main-background) 25%, var(--theme-main-background-gradient));
  color: var(--theme-main-text);
}

.Hero {
  width:100%;
  margin:0;
  padding:0;
  position:relative;
}
.Banner {
  width:100%;
}
.Step-Image {
  width: 650px;
}
.Tech-Tutorial {
  width: 650px;
}
.Container {
  width: var(--container-width);
  margin-left: var(--container-margin-x);
  margin-right: var(--container-margin-x);
  margin-top: var(--container-margin-y);
  margin-bottom: var(--container-margin-y);
}
.Image-Subtext {
  filter:grayscale(50%);
}
.Nav-Link {
  text-decoration: none;
  color: var(--theme-nav-text);
}
.Nav-Link:hover {
  color: var(--theme-nav-active);
}
.Nav-Link-active {
  font-weight: bold;
  color:var(--theme-nav-active);
}

.Link {
  text-decoration: none;
  color: var(--theme-link-text);
}
.Link:hover {
  color:var(--theme-link-hover);
}
