:root {
  --theme-nav-background: #333;
  --theme-nav-text: #ddd;
  --theme-main-background: #F7FFFE;
  --theme-main-text: #333;
  --template-padding-x: 24px;
  --template-padding-y: 24px;
  --container-width: 75%;
  --container-margin-x: auto;
  --container-margin-y: 48px;
}

body {
  background: var(--theme-main-background);
  color: var(--theme-main-text);
}

.Container {
  width: var(--container-width);
  margin-left: var(--container-margin-x);
  margin-right: var(--container-margin-x);
  margin-top: var(--container-margin-y);
  margin-bottom: var(--container-margin-y);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
