.Footer {
  padding-top: var(--footer-padding-y);
  padding-bottom: var(--footer-padding-y);
  padding-left: var(--nav-padding-x);
  padding-right: var(--nav-padding-x);
  background: var(--theme-nav-background);
  color: var(--theme-nav-text);
  text-align: center;
}
